<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>My Aplicación con Sockets</title>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/angular.js"></script>
  <script src="main.js"></script>
</head>

<body ng-app="bubbles" ng-controller="bubblesController" style="background-color:grey">

  
  <svg width="{{innerWidth}}" height="{{innerHeight}}" ng-if="bubbles">
    <circle ng-repeat="bubble in bubbles" cx="{{bubble.posX}}" cy="{{bubble.posY}}" r="{{bubble.size}}" stroke="grey" stroke-width="2" fill="{{bubble.type}}"
      />
  </svg>
</body>

</html>