<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Bubbles</title>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/angular.js"></script>
  <script src="main.js"></script>
</head>

<body ng-app="bubbles" ng-controller="bubblesController" style="background-color:grey">
  {{player.playerName}}
  <div ng-if="bubbles.length > 1" ng-click="changeDirection()">
    <svg ng-width="{{innerWidth}}" ng-height="{{innerHeight}}">
      <circle ng-repeat="bubble in bubbles track by $index" ng-cx="{{bubble.posX}}" ng-cy="{{bubble.posY}}" ng-r="{{bubble.size}}" stroke="grey" stroke-width="2"
        fill="{{bubble.type}}" />
      <circle ng-cx="{{player.posX}}" ng-cy="{{player.posY}}" ng-r="{{player.size}}" stroke="grey" stroke-width="2" fill="green"
      />
      <text ng-x="{{player.posX - player.size}}" ng-y="{{player.posY - player.size}}" font-family="Verdana" font-size="12" fill="black">
      {{player.playerName}} </text>
    </svg>
  </div>
</body>

</html>