<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Bubbles</title>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/angular.js"></script>
  <script src="main.js"></script>
</head>

<body ng-app="bubbles" ng-controller="bubblesController" style="background-color:grey">
{{player.playerName}}
<div ng-if="bubbles.length > 1">
  <svg width="{{innerWidth}}" height="{{innerHeight}}" >
    <circle ng-repeat="bubble in bubbles" cx="{{bubble.posX}}" cy="{{bubble.posY}}" r="{{bubble.size}}" stroke="grey" stroke-width="2"
      fill="{{bubble.type}}" />
    <circle cx="{{player.posX}}" cy="{{player.posY}}" r="{{player.size}}" stroke="grey" stroke-width="2" fill="{{player.type}}"
    />
    <text x="{{player.posX - player.size}}" y="{{player.posY - player.size}}" font-family="Verdana" font-size="12" fill="black" > {{player.playerName}} </text>
  </svg>
</div>

</body>

</html>